extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
    +alertSuccess(5000)
    +alertError(5000)

    .checkout
        .container
            .checkout_box
                .checkout_left
                    .checkout_title
                        +box-head("Thanh toán")
                    table
                        thead
                            tr.title
                                th Sản Phẩm
                                th Giá tiền
                                th Số lượng
                                th Thành tiền
                        tbody
                            if(products.length > 0)
                                each item,index in products 
                                    tr.cart_left-product
                                        td.cart_left-info
                                            a
                                                img(src=item.thumbnail, alt=item.title, width="80px")
                                                p #{item.title}
                                        td.cart_left-text
                                            .cart_left-price 
                                                .cart_left-pricenew #{item.priceNew} đ
                                                .cart_left-priceold #{item.price} đ
                                        td.cart_left-text
                                            .cart_left-quantity #{item.quantity}
                                        td.cart_left-text
                                            .cart_left-sum #{item.quantity*item.priceNew} đ
        
                if(products.length > 0)
                    .checkout_right
                        .checkout_right-title Hóa đơn của bạn
                        .checkout_right-provisional 
                            div 
                                p Tạm tính: 
                                span #{products.cartTotalPrice} đ
                            div 
                                p Giảm giá: 
                                span 0 đ
                        .checkout_right-total 
                            div 
                                p Tổng cộng:
                                span #{products.cartTotalPrice} đ
                            div.checkout_right-vat (đã bao gồm VAT)
                        .checkout_right-form
                            form(action="/checkout/order", method="POST")
                                .form-group
                                    label(for="fullName") Họ tên:
                                    input(
                                        type="text"
                                        class="form-control"
                                        id="fullName"
                                        name="fullName"
                                        placeholder="Nhập họ tên...."
                                        required
                                    )
                                .form-group
                                    label(for="phone") Số điện thoại:
                                    input(
                                        type="text"
                                        class="form-control"
                                        id="phone"
                                        name="phone"
                                        placeholder="Nhập số điện thoại...."
                                        required
                                    )
                                .form-group
                                    label(for="address") Địa chỉ:
                                    input(
                                        type="text"
                                        class="form-control"
                                        id="address"
                                        name="address"
                                        placeholder="Nhập địa chỉ...."
                                        required
                                    )
                                .form-group
                                    .checkout_right-button
                                        button(
                                            type="submit"
                                        ) ĐẶT HÀNG
                else 
                    .checkout_right
                        .checkout_right-title Vui lòng chọn ít nhất 1 sản phẩm
