
header.header
    .header_top
        .header_container
            .header_logo
                a.header_logo-image(href="/")
                    img(src=settingGeneral.logo, alt=settingGeneral.websiteName)
                
            .header_search
                form(action="/search", method="GET")
                    .form-group.header_search-group
                        input(type="text", name="keyword", placeholder="Tìm Kiếm..." value=keyword)
                        button <i class="fa-solid fa-magnifying-glass"></i>


            .header_nav
                a(href="/") TRANG CHỦ
                a(href="/blogs") BLOG
            .header_miniBar 
                <i class="fa-solid fa-bars mini-bar"></i>
            .header_actions
                .header_cart
                    a(href="/cart") 
                        i.fa-solid.fa-cart-shopping
                        span #{miniCart ? miniCart.totalQuantity : 0}
                .header_user
                    ul
                        if(user)
                            li
                                a(href="/user/infoUser") 
                                    <i class="fa-solid fa-user"></i>
                                    span #{user.fullName}
                .header_contact 
                    ul 
                        if(user)
                            li
                                if(myRoomChat)
                                    a(href=`/chat/${myRoomChat._id}`)
                                        <i class="fa-solid fa-comment"></i>
                                        span LIÊN HỆ
                            //- li
                            //-     a(href="/rooms-chat") Phòng chat

                .header_auth(class=(user ? "logout" : "login"))
                    ul
                        if(user)
                            li
                                a(href="/user/logout")
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                    span ĐĂNG XUẤT
                        else
                            li
                                a(href="/user/register") ĐĂNG KÝ
                                a(href="/user/login") ĐĂNG NHẬP
                    
            
