extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .product-detail
        .container
            .product-detail_box
                .product-detail_box-left
                        .product-detail_box-thumbnail
                            img(src=product.thumbnail, alt=product.title)
                .product-detail_box-right
                    .product-detail_box-info
                        .product-detail_box-title
                            span #{product.featured=="1" ? "Yêu thích+" : ""}
                            h1 #{product.title}
                        .product-detail_box-price
                            if product.newPrice
                                .product-detail_box-price-new #{product.newPrice.toLocaleString('vi-VN')}đ
                            if product.price
                                .product-detail_box-price-old #{product.price.toLocaleString('vi-VN')}đ
                            if product.discountPercentage
                                .product-detail_box-percent
                                    | Giảm tới 
                                    span #{product.discountPercentage}%
                        if product.stock
                            .product-detail_box-stock
                                | Còn lại 
                                span #{product.stock}
                                |  sản phẩm
                        if product.category
                            .product-detail_box-category
                                span Xem thêm sản phẩm thuộc: 
                                a(href=`/products/${product.category.slug}`) #{product.category.title}
                        form(action=`/cart/add/${product.id}` method="POST")
                            .product-detail_box-input
                                label(for="quantity") Số lượng:
                                input.form-control(
                                    type="number"
                                    name="quantity"
                                    value="1"
                                    min="1"
                                    id="quantity"
                                    max=product.stock
                                )
                                .product-detail_box-button 
                                    button(type="submit") Thêm vào giỏ hàng
            .product-detail_description
                .product-detail_description-title
                    +box-head("Mô tả sản phẩm")
                .product-detail_description-desc !{product.description}
                .product-detail_description-content !{product.content}
