include ../mixins/sub-menu.pug
mixin category-wrapper(layoutProductCategory)
    .category_wrapper
        .category_wrapper-inner
            - const pathProduct = "/products"
            +sub-menu(pathProduct,layoutProductCategory)
            .category-panel
                .panel-left
                    .banner-slider
                        .banner-image 
                            img(alt="oppo-find-x9-pre-home" fetchpriority="high" width="600" height="260" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:1036:450/q:70/plain/https://dashboard.cellphones.com.vn/storage/oppo-find-x9-pre-home.png")
                        .banner-image 
                            img(alt="home-app3-opensale" width="600" height="260" loading="lazy" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:1036:450/q:70/plain/https://dashboard.cellphones.com.vn/storage/home-app3-opensale.jpg")
                        .banner-image 
                            img(alt="huawei-ultimate2-home" width="600" height="260" loading="lazy" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:1036:450/q:70/plain/https://dashboard.cellphones.com.vn/storage/huawei-ultimate2-home.png")
                        .banner-image 
                            img(alt="Home-tuan-le-bep-gia-dung" width="600" height="260" loading="lazy" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:1036:450/q:70/plain/https://dashboard.cellphones.com.vn/storage/Home-tuan-le-bep-gia-dung.jpg")
                        .banner-image 
                            img(alt="amazfit-t-rex-3-pro-sliding" width="600" height="260" loading="lazy" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:1036:450/q:70/plain/https://dashboard.cellphones.com.vn/storage/amazfit-t-rex-3-pro-sliding.png")
                        .banner-image 
                            img(alt="nubia-neo-3-4g-home-0925" width="600" height="260" loading="lazy" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:1036:450/q:70/plain/https://dashboard.cellphones.com.vn/storage/nubia-neo-3-4g-home-0925.jpg")
                        .banner-image 
                            img(loading="lazy" width="600" height="260" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:1036:450/q:70/plain/https://dashboard.cellphones.com.vn/storage/690x300_iPhone_17_Pro_Opensale_v3.png" alt="iPhone_17_Pro_Opensale_v3")
                        .banner-image 
                            img(loading="lazy" width="600" height="260" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:1036:450/q:70/plain/https://dashboard.cellphones.com.vn/storage/Z7-Sliding-1025.png" alt="Z7-Sliding-1025")
                    .banner-images 
                        a(href="/") 
                            img(loading="lazy" width="200" height="90"  src="https://cdn2.cellphones.com.vn/insecure/rs:fill:690:300/q:40/plain/https://dashboard.cellphones.com.vn/storage/Right-S25-FE.png" alt="Right-S25-FE")
                        a(href="/") 
                            img(loading="lazy" width="200" height="90" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:690:300/q:40/plain/https://dashboard.cellphones.com.vn/storage/690x300_Rightbanner_iPad_pro_m5.png" alt="Rightbanner_iPad_pro_m5")
                        a(href="/") 
                            img(loading="lazy" width="200" height="90" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:690:300/q:40/plain/https://dashboard.cellphones.com.vn/storage/Camp-laptop-T9_Right-banner-1.png" alt="Camp-laptop-T9_Right-banner")
                    .banner-halloween 
                        a(href="/")
                            img(
                                width="300" height="100"
                                loading="lazy"
                                src="https://cdn2.fptshop.com.vn/unsafe/800x0/filters:format(webp):quality(40)/H2_614x212_a1f37bea56.png"
                                alt="Banner Halloween 1"
                            )
                        a(href="/")
                            img(
                                width="300" height="100"
                                loading="lazy"
                                src="https://cdn2.fptshop.com.vn/unsafe/800x0/filters:format(webp):quality(40)/H2_614x212_1_556f539aad.png"
                                alt="Banner Halloween 2"
                            )
                    
                .panel-right
                    .box-top
                        .inner-title
                            .image 
                                img(loading="lazy" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:0/q:40/plain/https://cellphones.com.vn/media/wysiwyg/ant-smile.png" alt="ant-smile")
                            p Chào mừng bạn đến với Haka
                        .inner-desc 
                            p Nhập hội thành viên Hmember để không bỏ lỡ các ưu đãi hấp dẫn.
                        .inner-auth 
                            a(href="/user/login") Đăng nhập
                            span hoặc
                            a(href="/user/register") Đăng ký
                            
                    .box-bottom
                        .item
                            .title 
                                a(href="/") Ưu đãi cho giáo dục
                            ul 
                                li 
                                    a(href="")
                                        img(loading="lazy" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:18:18/q:40/plain/https://cellphones.com.vn/media/wysiwyg/icon_student_home_190825.png")
                                        span Đăng ký <strong>nhận ưu đãi</strong>
                                li 
                                    a(href="")
                                        img(loading="lazy" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:18:18/q:40/plain/https://cellphones.com.vn/media/wysiwyg/icon_student_home_190825.png")
                                        span Tựu trường lên cấp <strong>- Máy mới lên đời</strong>
                                li 
                                    a(href="") 
                                        img(loading="lazy" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:18:18/q:40/plain/https://cellphones.com.vn/media/wysiwyg/icon_student_home_190825.png")
                                        span Laptop <strong>giảm thêm đến 500k</strong>        
                        .item
                            .title 
                                a(href="/") Thu cũ lên đời giá hời
                            ul 
                                li 
                                    a(href="")
                                        img(loading="lazy" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:18:18/q:40/plain/https://cellphones.com.vn/media/wysiwyg/icon_repeat_home_190825.png")
                                        span iPhone trợ giá <strong> đến 5 triệu</strong> 
                                li 
                                    a(href="") 
                                        img(loading="lazy" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:18:18/q:40/plain/https://cellphones.com.vn/media/wysiwyg/icon_repeat_home_190825.png")
                                        span Samsung trợ giá <strong> đến 4 triệu</strong> 
                                li 
                                    a(href="") 
                                        img(loading="lazy" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:18:18/q:40/plain/https://cellphones.com.vn/media/wysiwyg/icon_repeat_home_190825.png")
                                        span Laptop trợ giá <strong> đến 4 triệu</strong> 