mixin product-item(item)
    .product-item 
        a(href=`/products/detail/${item.slug}`)
            span.inner-discount -#{item.discountPercentage}%
            if(item.featured == "1")
                .inner-featured Nổi bật
            .inner-image
                img(src=item.thumbnail, alt=item.title)
            .inner-info-product
                .inner-price
                    .inner-price-new #{item.priceNew.toLocaleString('vi-VN')}đ
                    .inner-price-old #{item.price.toLocaleString('vi-VN')}đ
                h3.inner-title #{item.title}