mixin product-item(item)
    .product-item 
        a(href=`/products/detail/${item.slug}`)
            span.inner-discount -#{item.discountPercentage}%
            if(item.featured == "1")
                .inner-featured Nổi bật
            .inner-image
                - const thumb = item.thumbnail.replace('/upload/', '/upload/f_auto,q_auto:eco,w_170,h_170,c_fill/')
                img(width="170px" height="170px" src=thumb, alt=item.title)
            .inner-info-product
                .inner-price
                    .inner-price-new #{item.priceNew.toLocaleString('vi-VN')}đ
                    .inner-price-old #{item.price.toLocaleString('vi-VN')}đ
                h3.inner-title #{item.title}