mixin sub-menu(pathProduct,layoutProductCategory,level=1)
    .sub-menu
        each item in layoutProductCategory
            .sub-item
                a(href=`${pathProduct}/${item.slug}`)
                    if(level==1)
                        .title 
                            img(src=item.thumbnail alt=item.title)
                            span #{item.title}
                    else 
                        .images
                            .item
                                .title #{item.title}
                                .image
                                    img(src=item.thumbnail)
                    - if(item.children&&item.children.length > 0)
                        i.fa-solid.fa-chevron-right
                - if(item.children&&item.children.length > 0)
                    - const nextLevel=level+1
                    +sub-menu(pathProduct,item.children,nextLevel)