extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert

block main
    +alertSuccess(3000)
    +alertError(3000)
    .user
        .container
            +box-head("Thông tin cá nhân")
            .user_box
                .user_box-left
                    .user_box-info
                        .user_box-avatar
                            if user.avatar
                                img(src=user.avatar)
                            else
                                img(src="https://i.pinimg.com/736x/bc/43/98/bc439871417621836a0eeea768d60944.jpg")
                        .user_box-fullname
                            h4 #{user.fullName || 'Người dùng'}
                            span(class=user.status=="active" ? "active" : "inactive") #{user.status == "active" ? "Hoạt động" : "Dừng hoạt động"}

                    .user_box-edit 
                        span Chỉnh sửa thông tin
                .user_box-right
                        form(
                            action= `/user/infoUser/edit?_method=PATCH`
                            method="POST"
                            enctype="multipart/form-data"
                        )
                            .form-group.user_box-text 
                                label(for="fullName") Họ tên:
                                input(
                                    type="text"
                                    id="fullName"
                                    name="fullName"
                                    value=user.fullName
                                    required
                                    disabled
                                )
                            .form-group.user_box-text 
                                label(for="email") Email:
                                input(
                                    type="email"
                                    id="email"
                                    name="email"
                                    value=user.email
                                    required
                                    disabled
                                )
                            .form-group.user_box-text 
                                label(for="password") Mật khẩu:
                                input(
                                    type="password"
                                    id="password"
                                    name="password"
                                    value=""
                                    disabled
                                )
                            .form-group.user_box-text.upload-image
                                label(for="avatar") Avatar:
                                input.form-control-file.upload-image-input(
                                    type="file"
                                    id="avatar"
                                    name="avatar"
                                    accept="image/*"
                                    disabled
                                )
                                if user.avatar
                                    img.image-preview.upload-image-preview(src=user.avatar width="150px")
                                else
                                    img.image-preview.upload-image-preview(src="/admin/images/avatar.png" width="150px")
                            .form-group.user_box-button.hidden
                                button(type="submit") Cập nhật
block script 
    script(src="/client/js/info-user.js")
                                
