extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
    +alertSuccess(5000)
    +alertError(5000)

    .cart
        .container
            .cart_box
                .cart_left   
                    .cart_title Giỏ hàng ( <span>#{miniCart ? miniCart.totalQuantity : 0} sản phẩm </span> )
                    table
                        thead
                            tr.title
                                th Sản Phẩm
                                th Giá tiền
                                th Số lượng
                                th Thành tiền
                                th
                        tbody
                            if(products.length > 0)
                                each item,index in products 
                                    tr.cart_left-product
                                        td.cart_left-info
                                            a(href=`/products/detail/${item.slug}`)
                                                img(src=item.thumbnail, alt=item.title, width="80px")
                                                p #{item.title}
                                        td.cart_left-text
                                            .cart_left-price 
                                                .cart_left-pricenew #{item.priceNew.toLocaleString('vi-VN')} đ
                                                .cart_left-priceold #{item.price.toLocaleString('vi-VN')} đ
                                        td.cart_left-text
                                            input(
                                                type="number",
                                                name="quantity",
                                                value=item.quantity,
                                                min="1",
                                                data-id=item.id,
                                                style="width: 60px"
                                            )
                                        td.cart_left-text
                                            .cart_left-sum #{(item.quantity*item.priceNew).toLocaleString('vi-VN')} đ
                                        td.cart_left-btn
                                            a(
                                                href=`/cart/delete/${item.id}`,
                                                class="button-delete"
                                            ) <i class="fa-solid fa-xmark"></i>
                .cart_right
                    .cart_right-title Hóa đơn của bạn
                    .cart_right-provisional 
                        div 
                            p Tạm tính: 
                            span #{products.cartTotalPrice.toLocaleString('vi-VN')} đ
                        div 
                            p Giảm giá: 
                            span 0 đ
                    .cart_right-total 
                        div 
                            p Tổng cộng:
                            span #{products.cartTotalPrice.toLocaleString('vi-VN')} đ
                        div.cart_right-vat (đã bao gồm VAT)
                    .cart_right-button
                        a(href="/checkout") THANH TOÁN
block script
    script(src="/js/cart.js")
