extends ../../layouts/default.pug
block main
    h1 trang tổng quan
    .row
        .col-12
            .card.mb-4 
                .card-header Doanh thu bán hàng theo danh mục
                .card-body
                    .row 
                        .col-8
                            .row 
                                .col-4 
                                    select.form-control(name="filter" filterSelect)
                                        option(value="day") 1 Ngày qua
                                        option(value="week") 1 Tuần qua 
                                        option(value="month" selected) 1 Tháng qua 
                                        option(value="quarter") 1 Quý qua
                                .col-6 
                                    div Tổng doanh thu: <span id="totalRevenue"></span> VNĐ
                            canvas(id="myChart")
                        .col-4
                            canvas(id="pieChart")
            
        .col-6
    .row.mt-4
        .col-12
            .card.mb-4
                .card-header Thông tin tài khoản
                .card-body
                    if user.avatar
                        img(
                            src=user.avatar
                            style="height: 100px; margin-bottom: 15px;"
                        )
                    if user.fullName
                        p Họ tên: 
                            b= user.fullName
                    if user.email
                        p Email: 
                            b= user.email
                    if user.phone
                        p Số điện thoại: 
                            b= user.phone
                    if role && role.title
                        p Phân quyền: 
                            b= role.title

        .col-6
            .card.mb-4
                .card-header Danh mục sản phẩm
                .card-body
                    p Số lượng: 
                        b #{statistic.categoryProduct.total}
                    p Hoạt động: 
                        b #{statistic.categoryProduct.active}
                    p Dừng hoạt động: 
                        b #{statistic.categoryProduct.inactive}

        .col-6
            .card.mb-4
                .card-header Sản phẩm
                .card-body
                    p Số lượng: 
                        b #{statistic.product.total}
                    p Hoạt động: 
                        b #{statistic.product.active}
                    p Dừng hoạt động: 
                        b #{statistic.product.inactive}
        
        .col-6
            .card.mb-4
                .card-header Tài khoản admin
                .card-body
                    p Số lượng: 
                        b #{statistic.account.total}
                    p Hoạt động: 
                        b #{statistic.account.active}
                    p Dừng hoạt động: 
                        b #{statistic.account.inactive}
        
        .col-6
            .card.mb-4
                .card-header Tài khoản client
                .card-body
                    p Số lượng: 
                        b #{statistic.user.total}
                    p Hoạt động: 
                        b #{statistic.user.active}
                    p Dừng hoạt động: 
                        b #{statistic.user.inactive}
block script 
    script(src="/admin/js/dashboard.js")