extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    h1.mb-4 Cập nhật thông tin cá nhân

    +alertSuccess(5000)
    +alertError(5000)

    form(
        action=`${prefixAdmin}/my-account/edit?_method=PATCH`
        method="POST"
        enctype="multipart/form-data"
    )
        .form-group
            label(for="fullName") Họ tên
            input.form-control(
                type="text"
                id="fullName"
                name="fullName"
                required
                value=user.fullName
            )

        .form-group
            label(for="email") Email
            input.form-control(
                type="email"
                id="email"
                name="email"
                required
                value=user.email
            )

        .form-group
            label(for="password") Mật khẩu
            input.form-control(
                type="password"
                id="password"
                name="password"
            )

        .form-group
            label(for="phone") Số điện thoại
            input.form-control(
                type="text"
                id="phone"
                name="phone"
                value=user.phone
            )

        .form-group.upload-image
            label(for="avatar") Avatar
            input.form-control-file.upload-image-input(
                type="file"
                id="avatar"
                name="avatar"
                accept="image/*"
            )
            if user.avatar
                img.image-preview.upload-image-preview(src=user.avatar width="150px")
            else
                img.image-preview.upload-image-preview(src="/admin/images/avatar.png" width="150px")

        .form-group
            button.btn.btn-primary(type="submit") Cập nhật