extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-3
        include ../../partials/list-button-users.pug
        .row
            .col-12
                +box-head("Danh sách người dùng")
        .row
            each user in users
                .col-6
                    .box-user
                        .inner-avatar
                            img(
                                src=(user.avatar ? user.avatar : "https://cellphones.com.vn/sforum/wp-content/uploads/2023/10/avatar-trang-4.jpg")
                                alt=user.fullName
                            )
                        .inner-info
                            .inner-name #{user.fullName}
                            .inner-buttons
                                button.btn.btn-sm.btn-primary.mr-1(btn-add-friend=user.id) Kết bạn
                                button.btn.btn-sm.btn-secondary.mr-1(btn-cancel-friend=user.id) Hủy