.sider
  .inner-menu
    ul
      li
        a(href=`${prefixAdmin}/dashboard`) Tổng quan
      if(role.permission.includes("products_view"))
        li
          a(href=`${prefixAdmin}/products`) Sản phẩm
      if(role.permission.includes("products-category_view"))
        li
          a(href=`${prefixAdmin}/product-category`) Danh mục sản phẩm
      if(role.permission.includes("roles_view"))
        li
          a(href=`${prefixAdmin}/roles`) Nhóm quyền
      if(role.permission.includes("roles_permission"))
        li
          a(href=`${prefixAdmin}/roles/permissions`) Phân quyền
      if(role.permission.includes("accounts_view"))
        li
          a(href=`${prefixAdmin}/accounts`) List account
      li
          a(href=`${prefixAdmin}/settings/general`) Cài đặt chung
      if(role.permission.includes("customers_view"))
        li
            a(href=`${prefixAdmin}/customers`) Khách hàng